.login-button,.logout-button{
    font-size: 14px;
}
.login-text{
    font-size: 14px;
}
.app-container{
    .aside{
        .imdb-search-label {
            text-decoration: dotted underline 0.5px;
        }
    }
}