.app-container {
    height: 100vh;
    display: grid;
    grid-template-areas: "header header""aside main""footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 64px;

    .header {
        grid-area: header;

        .header-img {
            display: block;
            height: calc(100% - 20px);
            margin: 0 auto;
            padding: 10px 0;
        }
    }

    .aside {
        grid-area: aside;

        .login-container {
            width: min-content;
            white-space: nowrap;
            height: min-content;
            display: grid;
        }

        .id-input {
            width: 60px;
        }

    }

    .main {
        grid-area: main;

        .loader-container {
            height: 100%;
            display: flex;

            .loader {
                margin: auto;
            }

        }



        .small-info {
            display: inline-grid;
            gap: 10px 0;
            justify-items: center;
            padding: 10px;
            grid-template-rows: 225px 76px 57px 38px;
            position: relative;

            .poster {
                width: 150px;
            }

            .heading {
                justify-self: left;
            }

            .genres {
                display: grid;
                width: 100%;
                height: max-content;

                .genres-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    .genre {
                        width: max-content;
                        white-space: nowrap;
                    }
                }
            }

            .release-date {
                width: 100%;
                display: grid;
                text-align: center;
            }

            .original-title-container {
                display: grid;
                width: 100%;
                justify-items: center;

                .original-title {
                    text-align: center;
                }
            }

            .rating {
                position: absolute;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: red;
                top: 210px;
                left: 120px;
            }
        }
    }

    .footer {
        grid-area: footer;
    }
}