* {
  box-sizing: border-box; }

.app-container .aside .login-container {
  background-color: #01b4e4; }

.app-container .main {
  background-color: #01b4e4; }
  .app-container .main .small-info .poster {
    border-radius: 10px; }
