.login-button,
.logout-button {
  font-size: 14px; }

.login-text {
  font-size: 14px; }

.app-container .aside .imdb-search-label {
  text-decoration: dotted underline 0.5px; }

.main .small-info * {
  color: #0d253f; }

.main .small-info .heading {
  color: #64cde9; }

.main .small-info .rating {
  font-weight: 900; }

.main .small-info .genres .genres-container .hidden-genres {
  text-decoration: dotted underline 0.5px;
  cursor: default; }

.main .small-info .original-title-container .original-title {
  font-weight: 900; }

.main .small-info .tmdb-rating .red {
  color: red; }

.main .small-info .tmdb-rating .light-green {
  color: darkgreen; }

.main .small-info .tmdb-rating .green {
  color: green; }

.main .small-info .tmdb-rating .dark-green {
  color: darkgreen; }

.main .pagination-list .dots {
  color: #0d253f; }

.main .pagination-list .navlink-container .pagination-link {
  text-decoration: none;
  font-weight: 600;
  color: #0d253f; }
