.login-button,
.logout-button {
  font-size: 14px; }

.login-text {
  font-size: 14px; }

.app-container .aside .login-text {
  color: #5566cd; }

.app-container .aside .button {
  color: #01b4e4;
  letter-spacing: 0.1em; }

.app-container .aside .imdb-search-label {
  text-decoration: dotted underline 0.5px; }

.main .small-info * {
  color: #0d253f; }

.main .small-info .heading {
  color: #64cde9; }

.main .small-info .rating {
  font-weight: 900; }

.main .small-info .genres .genres-container .hidden-genres {
  text-decoration: dotted underline 0.5px;
  cursor: default; }

.main .small-info .original-title-container .original-title {
  font-weight: 900; }

.main .small-info .tmdb-rating .red {
  color: red; }

.main .small-info .tmdb-rating .light-green {
  color: darkgreen; }

.main .small-info .tmdb-rating .green {
  color: green; }

.main .small-info .tmdb-rating .dark-green {
  color: darkgreen; }

.main .single-movie-page .similar-movies-container .h5,
.main .single-movie-page .recommended-movies-container .h5 {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #0d253f; }

.main .single-movie-page .similar-movies-container .similar-movies .smallest .title,
.main .single-movie-page .similar-movies-container .recommended-movies .smallest .title,
.main .single-movie-page .recommended-movies-container .similar-movies .smallest .title,
.main .single-movie-page .recommended-movies-container .recommended-movies .smallest .title {
  color: #0d253f; }

.main .short-info-container .short-info .imdbRating {
  background-color: #fff;
  border: 1px solid #666;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }
  .main .short-info-container .short-info .imdbRating .rating {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; }
    .main .short-info-container .short-info .imdbRating .rating .ofTen {
      color: #666;
      font-size: 9px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold; }

.main .short-info-container .short-info .tmdb-rating .logo {
  display: inline-block;
  font-weight: 600;
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.main .short-info-container .short-info .tmdb-rating .rating {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #64cde9; }

.main .short-info-container .short-info .tmdb-rating .ofTen {
  color: #64cde9;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

.main .pagination-list .dots {
  color: #0d253f; }

.main .pagination-list .navlink-container .pagination-link {
  text-decoration: none;
  font-weight: 600;
  color: #0d253f; }
