.app-container {
  height: 100vh;
  display: grid;
  grid-template-areas: "header header" "aside main";
  grid-template-columns: 250px calc(100% - 250px);
  grid-template-rows: 64px 1fr;
  width: calc(100vw - 16px); }
  .app-container .header {
    grid-area: header;
    display: flex; }
    .app-container .header .header-img {
      display: block;
      height: calc(100% - 20px);
      margin: auto;
      padding: 10px 0; }
  .app-container .aside {
    height: min-content;
    grid-area: aside;
    display: grid;
    grid-template-rows: repeat(5, min-content);
    gap: 20px;
    padding: 5px;
    justify-items: center; }
    .app-container .aside .button {
      padding: 5px 10px; }
    .app-container .aside .login-container {
      width: min-content;
      white-space: nowrap;
      height: min-content;
      display: grid;
      gap: 3px; }
    .app-container .aside .search-by-imdb-container {
      display: grid;
      justify-items: center;
      gap: 3px; }
      .app-container .aside .search-by-imdb-container .id-input {
        width: 67px; }
    .app-container .aside .trending-search {
      width: 200px;
      display: flex;
      justify-content: space-around; }
    .app-container .aside .search-by-name-container {
      display: grid;
      gap: 3px;
      justify-items: center; }
  .app-container .main {
    grid-area: main;
    width: 100%;
    overflow: auto; }
    .app-container .main .popular-movies-container {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      overflow-x: scroll; }
    .app-container .main .loader-container {
      height: 100%;
      display: flex; }
      .app-container .main .loader-container .loader {
        margin: auto; }
    .app-container .main .small-info {
      display: inline-grid;
      gap: 5px 0;
      justify-items: center;
      padding: 10px;
      grid-template-rows: 225px 81px 65px 45px;
      position: relative; }
      .app-container .main .small-info > :nth-child(2),
      .app-container .main .small-info > :nth-child(3),
      .app-container .main .small-info > :nth-child(4) {
        padding: 3px; }
      .app-container .main .small-info .poster-container {
        display: flex;
        align-items: center; }
        .app-container .main .small-info .poster-container .poster {
          width: 150px; }
      .app-container .main .small-info .heading {
        justify-self: left; }
      .app-container .main .small-info .genres {
        display: grid;
        width: 100%;
        height: 100%; }
        .app-container .main .small-info .genres .genres-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around; }
          .app-container .main .small-info .genres .genres-container .genre {
            width: max-content;
            white-space: nowrap;
            padding-right: 2px; }
      .app-container .main .small-info .release-date {
        width: 100%;
        display: grid;
        text-align: center; }
      .app-container .main .small-info .original-title-container {
        display: grid;
        width: 100%;
        justify-items: center; }
        .app-container .main .small-info .original-title-container .original-title {
          text-align: center;
          overflow: auto; }
      .app-container .main .small-info .rating {
        position: absolute;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: red;
        top: 210px;
        left: 120px; }
    .app-container .main .pagination-list {
      list-style: none;
      display: flex;
      width: min-content;
      padding: 5px 0;
      margin: 0 auto; }
      .app-container .main .pagination-list .navlink-container {
        width: min-content;
        height: min-content;
        padding: 0 1px; }
        .app-container .main .pagination-list .navlink-container .pagination-link {
          display: block;
          height: 20px;
          text-align: center;
          line-height: 20px; }
    .app-container .main .single-movie-page {
      display: grid;
      grid-template-areas: "poster similar" "poster recommended" "main main";
      grid-template-columns: 235px calc(100% - 235px);
      grid-template-rows: 225px 225px 200px; }
      .app-container .main .single-movie-page .recommended-movies-container {
        grid-area: recommended; }
      .app-container .main .single-movie-page .similar-movies-container {
        grid-area: similar; }
      .app-container .main .single-movie-page .similar-movies-container,
      .app-container .main .single-movie-page .recommended-movies-container {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .app-container .main .single-movie-page .similar-movies-container .h5,
        .app-container .main .single-movie-page .recommended-movies-container .h5 {
          padding: 3px; }
        .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper,
        .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper {
          width: 100%;
          overflow: auto;
          padding: 5px; }
          .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .similar-movies,
          .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .recommended-movies,
          .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .similar-movies,
          .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .recommended-movies {
            width: max-content;
            height: max-content;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: auto; }
            .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .similar-movies .smallest,
            .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .recommended-movies .smallest,
            .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .similar-movies .smallest,
            .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .recommended-movies .smallest {
              margin: 0px 5px;
              width: 250px;
              height: 141px;
              display: flex;
              flex-direction: column;
              overflow: auto;
              position: relative; }
              .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .similar-movies .smallest .poster,
              .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .recommended-movies .smallest .poster,
              .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .similar-movies .smallest .poster,
              .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .recommended-movies .smallest .poster {
                position: absolute;
                top: 0px;
                left: 0px; }
              .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .similar-movies .smallest .title,
              .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .recommended-movies .smallest .title,
              .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .similar-movies .smallest .title,
              .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .recommended-movies .smallest .title {
                width: calc(100% - 6px);
                padding: 3px;
                z-index: 1;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                transition: opacity linear 100ms;
                margin: auto 3px; }
              .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .similar-movies .smallest:hover > .title,
              .app-container .main .single-movie-page .similar-movies-container .scroll-wrapper .recommended-movies .smallest:hover > .title,
              .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .similar-movies .smallest:hover > .title,
              .app-container .main .single-movie-page .recommended-movies-container .scroll-wrapper .recommended-movies .smallest:hover > .title {
                visibility: visible;
                opacity: 0.9; }
      .app-container .main .single-movie-page .short-info-container {
        width: 100%;
        height: 100%;
        grid-area: poster; }
        .app-container .main .single-movie-page .short-info-container .poster {
          display: block;
          width: calc(100% - 10px);
          margin: 5px auto 0 auto;
          border-radius: 5px; }
        .app-container .main .single-movie-page .short-info-container .short-info {
          height: calc(450px - 337.5px);
          display: grid;
          grid-template-rows: max-content 1fr;
          grid-template-columns: 225px;
          align-items: flex-end;
          padding: 5px;
          gap: 5px 0;
          width: calc(100% - 10px);
          position: relative; }
          .app-container .main .single-movie-page .short-info-container .short-info .favourite-icon {
            width: min-content;
            height: min-content;
            border-radius: 10px;
            position: absolute;
            top: -10px;
            left: 10px; }
          .app-container .main .single-movie-page .short-info-container .short-info .title {
            display: block;
            margin: 0 auto;
            padding: 5px;
            width: fit-content;
            text-align: center;
            overflow: auto;
            max-height: 74px; }
          .app-container .main .single-movie-page .short-info-container .short-info .ratings-container {
            display: flex;
            justify-content: space-around;
            width: 225px; }
            .app-container .main .single-movie-page .short-info-container .short-info .ratings-container .imdbRating {
              height: max-content;
              border: 1px solid #666;
              padding: 2px 2px 1px;
              border-radius: 5px;
              text-decoration: none;
              display: inline-block;
              width: 120px; }
              .app-container .main .single-movie-page .short-info-container .short-info .ratings-container .imdbRating img {
                border: none;
                vertical-align: text-bottom; }
              .app-container .main .single-movie-page .short-info-container .short-info .ratings-container .imdbRating a {
                text-decoration: none;
                color: -webkit-link;
                cursor: pointer; }
              .app-container .main .single-movie-page .short-info-container .short-info .ratings-container .imdbRating .rating {
                display: inline-block;
                padding-left: 5px; }
              .app-container .main .single-movie-page .short-info-container .short-info .ratings-container .imdbRating .star {
                margin-left: 3px;
                border: none;
                vertical-align: text-bottom; }
            .app-container .main .single-movie-page .short-info-container .short-info .ratings-container .tmdb-rating {
              display: inline-flex;
              justify-content: space-between;
              align-items: center;
              padding-right: 5px;
              width: 95px;
              height: 28px; }
              .app-container .main .single-movie-page .short-info-container .short-info .ratings-container .tmdb-rating .logo {
                padding: 1px 3px; }
              .app-container .main .single-movie-page .short-info-container .short-info .ratings-container .tmdb-rating .rating {
                width: min-content; }
      .app-container .main .single-movie-page .movie-description {
        grid-area: main;
        padding: 5px;
        display: grid;
        grid-template-rows: minmax(20px, max-content) repeat(2, max-content);
        grid-template-columns: 100%;
        gap: 5px 0; }
        .app-container .main .single-movie-page .movie-description .overview {
          padding: 5px;
          width: 100%; }
        .app-container .main .single-movie-page .movie-description .minor-info {
          display: flex;
          flex-wrap: wrap; }
          .app-container .main .single-movie-page .movie-description .minor-info > * {
            margin: 5px; }
          .app-container .main .single-movie-page .movie-description .minor-info .genres {
            display: block;
            width: min-content;
            white-space: nowrap;
            padding: 5px; }
          .app-container .main .single-movie-page .movie-description .minor-info .directors {
            display: block;
            padding: 5px;
            width: min-content;
            white-space: nowrap; }
      .app-container .main .single-movie-page .similar-movies {
        grid-area: similar; }
      .app-container .main .single-movie-page .recommended-movies {
        grid-area: recommended; }
  .app-container .footer {
    grid-area: footer; }
